* {
	padding: 0;
	margin: 0 0 0 0;
	user-select: none;
	font-family: 'raleway', sans-serif;
}

.image {
	position: absolute;
	z-index: 1;
	margin: 3% auto 0 17.5%;
	width: 65%;
}
.image img {
	width: 100%
}
a{
	text-decoration: none;
	color: black;
}
.intro {
	position: absolute;
	z-index: 2;
	font-size: 1.5vw;
	margin: 20% 0 0 26%;
}
.intro p {
	margin: 2.5% 0 0 0;
}
.circle1, .circle2, .circle3, .circle4 {
	border: 2px solid black;
	width: 1.5vh;
	height: 1.5vh;
	border-radius: 50%;
	background-color: #e1b7c4;
	position: absolute;
	z-index: 2;
}
.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover {
	cursor: pointer;
	background-color: #EDD3DB;
}
.choice {
	position: absolute;
	z-index: 6;
	margin: 36% 0 0 19.5%;
}
.choice1, .choice2 {
	padding: 1vw 1vw 1vw 1vw;
	border: 2px solid black;
	border-radius: 5vw;
	background-color: #e1b7c4;
	border-width: auto;
	font-size: 1.75vw;
}
.choice2 {
	margin: 2vw 0 0 0;
}
.choice1:hover, .choice2:hover, .circle:hover {
	cursor: pointer;
	background-color: #cb8098;
}
.excerpt1, .excerpt2, .excerpt3, .excerpt4 {
	position: absolute;
	z-index: 5;
}
.excerpt1:hover, .excerpt2:hover, .excerpt3:hover, .excerpt4:hover {
	cursor: pointer;
}
.excerpt1 img, .excerpt2 img, .excerpt3 img, .excerpt4 img {
	width: 50%;
}
.hide {
	visibility: hidden;
}
.back, .forward {
	font-family: 'Raleway', sans-serif;
	font-size: 7.5vw;
	font-weight: 300;
	position: absolute;
	top: 18.5vw;
}
.back {
	left: 10vw;
}
.forward {
	right: 10vw;
}
.back a:hover, .forward a:hover {
	cursor: pointer;
	color: #cb8098;

}