* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	user-select: none;
}
ul {
	display: flex;
	align-items: flex-end;
	text-align: left;
	list-style-type: none;
	font-size: 30pt;
	font-variant-caps: all-small-caps;
	line-height: 35pt;
	margin: 1% 12% 0% 12%;
}
li {
	padding: 0px 25px 0px 25px;
}
a {
	text-decoration: none;
    color:black;
}
.navbar:hover {
	background-color: black;
	color: white;
}

.navbar:hover a{    
	color: white;
}

.photo {
	margin: 8% 13% 0% 14%;
}
