* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
.browser {
	display: flex;
	height: 100vh;
	width: 50%;
	margin: auto auto 0 auto;
	align-items: center;
	align-content: center;
}
.browser img {
	padding: 0 5vw 0 5vw;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	cursor: pointer;
	color: pink;
}
.mobile_home {
	position: relative;
	z-index: 1;
}
.mobile_contact {
	font-size: 1em;
	position: relative;
	z-index: 5;
	top: 0;
	left: 18.35vw;
	transform: skew(-19deg, 5deg);
}
.web_home img {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.front_window {
	position: absolute;
	z-index: 5;
	width: 100%;
	top: 45vh;
	left: 8.8vw;
}
.name {
	font-size: 5.5vh;
	font-weight: 500;
}
.name:hover {
	cursor: pointer;
	color: pink;
}
.job {
	position: absolute;
	left: 0.2vw;
	font-size: 2.5vh;
}
.about {
	position: absolute;
	z-index: 5;
	top: 81vh;
	left: 9vw;
	font-size: 1.5vh;
	width: 30%;
}
.hide {
	visibility: hidden;
}
.contact {
	font-size: 2.5vh;
	position: absolute;
	z-index: 5;
	top: 71%;
	left: 9%;
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}
.contact div {
	margin: 0 15% 0 0;
}
.contact:hover {
	cursor: pointer;
}
.enter {
	width: 8%;
	height: 10%;
	position: absolute;
	z-index: 5;
	margin: 18.5% 45.5% 20% 45.5%;
}
.enter:hover {
	cursor: pointer;
}
.square1, .square2, .square3, .square4 {
	width: 10%;
	height: 16.5%;
	position: absolute;
	z-index: 5;
	font-size: 2.5vh;
}
.square1 {
	margin: 5.5% 45.5% 20% 9.5%;
}
.square1:hover,.square2:hover,.square3:hover,.square4:hover {
	cursor: pointer;
	color: pink;
}
.square2 {
	margin: 5.5% 45.5% 20% 30.25%;
}
.square3 {
	margin: 5.5% 45.5% 20% 52.05%;
}
.square4 {
	margin: 5.5% 45.5% 20% 74.15%;
} 