* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
.browser {
	display: flex;
	height: 100vh;
	width: 50%;
	margin: auto auto 0 auto;
	align-items: center;
	align-content: center;
}
.browser img {
	padding: 0 5vw 0 5vw;
}
ul, li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	cursor: pointer;
	color: pink;
}
.mobile_home {
	position: relative;
	z-index: 1;
}
.mobile_contact {
	font-size: 1em;
	position: relative;
	z-index: 5;
	top: 0;
	left: 18.35vw;
	transform: skew(-19deg, 5deg);
}
.web_home img {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.name {
	position: absolute;
	z-index: 5;
	width: 100%;
	top: 70vh;
	left: 9.5vw;
	font-size: 9.5vh;
	font-family: 'alata', sans-serif;
}
.name:hover {
	cursor: pointer;
	color: pink;
}
.about {
	position: absolute;
	z-index: 5;
	top: 81vh;
	left: 9vw;
	font-size: 1.5vh;
	width: 30%;
}
.hide {
	visibility: hidden;
}
.contact {
	font-size: 2.5vh;
	position: absolute;
	z-index: 5;
	top: 71%;
	left: 9%;
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}
.contact div {
	margin: 0 15% 0 0;
}
.contact:hover {
	cursor: pointer;
}
.enter {
	width: 8%;
	height: 10%;
	position: absolute;
	z-index: 5;
	margin: 18.5% 45.5% 20% 45.5%;
}
.enter:hover {
	cursor: pointer;
	background-color: pink;
	opacity: 10%;
}
.square1, .square2, .square3, .square4 {
	width: 10%;
	height: 16.5%;
	position: absolute;
	z-index: 5;
	font-size: 2.5vh;
}
.square1 {
	margin: 5.5% 45.5% 20% 9.5%;
}
.square1:hover,.square2:hover,.square3:hover,.square4:hover {
	cursor: pointer;
	color: pink;
}
.square2 {
	margin: 5.5% 45.5% 20% 30.25%;
}
.square3 {
	margin: 5.5% 45.5% 20% 52.05%;
}
.square4 {
	margin: 5.5% 45.5% 20% 74.15%;
}
.door {
	width: 9%;
	height: 38%;
	position: absolute;
	z-index: 5;
	margin: 26% 45.5% 20% 45%;
}
.door:hover {
	background-color: pink;
	opacity: 10%;
}
.namenav {
	position: absolute;
	z-index: 5;
	font-size: 5.5vh;
	margin: 3% 0 0 7%;
}
.web_gallery img {
	position: absolute;
	z-index: 1;
	width: 100%;
}
.exit {
	position: absolute;
	z-index: 5;
	width: 15.3%;
	height: 50.75%;
	margin: 18.8% 55% 25% 55.7%;
}
.exit:hover {
	background-color: pink;
	opacity: 10%;
}
.directory {
	position: absolute;
	z-index: 5;
	font-size: 3.5vh;
	margin: 20% 0 0 75%;
}
.highlight1 img {
	position: absolute;
	z-index: 10;
	width: 14.6%;
	height: 37.5%;
	margin: 15.85% 0 0 10%;
	border-radius: 25px;
	filter: grayscale(1);
}
.highlight2 img {
	position: absolute;
	z-index: 10;
	width: 8%;
	height: 22%;
	margin: 12.8% 0 0 43%;
	border-radius: 25px;
	filter: grayscale(1);
}
.highlight3 img {
	position: absolute;
	z-index: 10;
	width: 13%;
	height: 24%;
	border-radius: 25px;
	margin: 15.8% 0 0 27.4%;
	filter: grayscale(1);
}
.highlight4 img {
	position: absolute;
	z-index: 10;
	width: 12.9%;
	height: 24.5%;
	border-radius: 25px;
	margin: 30.45% 0 0 27.4%;
	filter: grayscale(1);
}
.highlight5 img {
	position: absolute;
	z-index: 10;
	width: 6%;
	height: 13.8%;
	border-radius: 25px;
	margin: 26.85% 0 0 44%;
	filter: grayscale(1);
}
.highlight1 img:hover, .highlight2 img:hover, .highlight3 img:hover, .highlight4 img:hover, .highlight5 img:hover {
	filter: none;
	opacity: 90%;
	cursor: pointer;
}