* {
	margin: 0;
	padding: 0;
	user-select: none;
}
.open, .closed {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}
.hide {
	visibility: hidden;
}
.reveal {
	visibility: visible;
}
.enter{
	position: absolute;
	z-index: 5;
	width: 8.89%;
	height: 37.15%;
	margin: 28.925% 0% 0% 44.9%;
}
.enter:hover {
	cursor: pointer;
}