body {
	background-color: white;
	padding: 20px;
	font-family: futura, sans-serif;
	font-variant-caps: all-small-caps;
	font-size: 36pt;
	color: black;
	user-select: none;
	margin-left: 62px;
}
img {
	border-color: black;
}
br {
	display: block;
	margin-bottom: -60px;
}
li a {
	color: black;
	text-decoration: none;
	background-color: white;
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
	top: -163px;
	left: 215px;
}
ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
.dropdown {
	display: none;
}
.top:hover .dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
}
a:hover {
	color: white;
	background: black;
}
.text {
	font-variant-caps: normal;
	position: relative;
	position: relative;
	left: 275px;
	z-index: -1;
	text-align: justify;
	width: 1900px;
	line-height: 30pt;
	font-size: 25pt;
}
.text p br {
	display: block;
	margin-bottom: 12px;
}